h1{
    color:rgb(94, 255, 0);
    text-align: center;
    font-size: 56px;
}

a{
    display: inline;
    background-color: gray;
    margin: 2px;
}

li {
 display: block;
}

li a{
    color:green
}
img {
    width:50%
}
h4 {
    color: purple;
}